## [위클리 챌린지) 4주차](https://programmers.co.kr/learn/courses/30/lessons/84325)

### 함수

In [1]:
import pandas as pd

def solution(table, languages, preference):
    df = pd.DataFrame()
    pref_dic = {}

    for i in range(len(table)):
        table[i] = table[i].split()
        df[table[i][0]] = table[i][1:]
    df.index = range(5,0,-1)
    #정렬 완료
    df = df[sorted(df.columns)]
    
    total_score = []
    for kind in df:
        score = 0
        for idx in range(5,0,-1):
            if df[kind].loc[idx] in languages:
                score += idx * preference[languages.index(df[kind].loc[idx])]
        total_score.append(score)
    
    dic_total_score = {}
    for kind, score in zip(df.columns,total_score):
        dic_total_score[kind] = score
    
    return sorted(dic_total_score.items(),key = lambda x:x[1],reverse = True)[0][0]

In [2]:
table = ["SI JAVA JAVASCRIPT SQL PYTHON C#", "CONTENTS JAVASCRIPT JAVA PYTHON SQL C++",
         "HARDWARE C C++ PYTHON JAVA JAVASCRIPT", "PORTAL JAVA JAVASCRIPT PYTHON KOTLIN PHP",
         "GAME C++ C# JAVASCRIPT C JAVA"]
languages = ["PYTHON", "C++", "SQL"]
preference = [7,5,5]
solution(table,languages,preference)

'HARDWARE'

In [5]:
import pandas as pd

table = ["SI JAVA JAVASCRIPT SQL PYTHON C#", "CONTENTS JAVASCRIPT JAVA PYTHON SQL C++",
         "HARDWARE C C++ PYTHON JAVA JAVASCRIPT", "PORTAL JAVA JAVASCRIPT PYTHON KOTLIN PHP",
         "GAME C++ C# JAVASCRIPT C JAVA"]
languages = ["PYTHON", "C++", "SQL"]
preference = [7,5,5]


df = pd.DataFrame()
for i in range(len(table)):
    table[i] = table[i].split()
    df[table[i][0]] = table[i][1:]
df.index = range(5,0,-1)

In [6]:
df

           SI    CONTENTS    HARDWARE      PORTAL        GAME
5        JAVA  JAVASCRIPT           C        JAVA         C++
4  JAVASCRIPT        JAVA         C++  JAVASCRIPT          C#
3         SQL      PYTHON      PYTHON      PYTHON  JAVASCRIPT
2      PYTHON         SQL        JAVA      KOTLIN           C
1          C#         C++  JAVASCRIPT         PHP        JAVA

In [7]:
total_score = []
for kind in df:
    score = 0
    for idx in range(5,0,-1):
        if df[kind].loc[idx] in languages:
            score += idx * preference[languages.index(df[kind].loc[idx])]
    total_score.append(score)
print(total_score)

[29, 36, 41, 21, 25]

In [8]:
df

           SI    CONTENTS    HARDWARE      PORTAL        GAME
5        JAVA  JAVASCRIPT           C        JAVA         C++
4  JAVASCRIPT        JAVA         C++  JAVASCRIPT          C#
3         SQL      PYTHON      PYTHON      PYTHON  JAVASCRIPT
2      PYTHON         SQL        JAVA      KOTLIN           C
1          C#         C++  JAVASCRIPT         PHP        JAVA

In [9]:
#정렬 완료
df = df[sorted(df.columns)]
df

     CONTENTS        GAME    HARDWARE      PORTAL          SI
5  JAVASCRIPT         C++           C        JAVA        JAVA
4        JAVA          C#         C++  JAVASCRIPT  JAVASCRIPT
3      PYTHON  JAVASCRIPT      PYTHON      PYTHON         SQL
2         SQL           C        JAVA      KOTLIN      PYTHON
1         C++        JAVA  JAVASCRIPT         PHP          C#

In [10]:
dic_total_score = {}
for kind, score in zip(df.columns,total_score):
    dic_total_score[kind] = score
dic_total_score

{'CONTENTS': 29, 'GAME': 36, 'HARDWARE': 41, 'PORTAL': 21, 'SI': 25}

In [12]:
sorted(dic_total_score.items(),key = lambda x:x[1],reverse = True)

[('HARDWARE', 41), ('GAME', 36), ('CONTENTS', 29), ('SI', 25), ('PORTAL', 21)]

In [13]:
sorted(dic_total_score.items(),key = lambda x:x[1],reverse = True)[0][0]

'HARDWARE'

In [85]:
#예시

k = {'a':6,'b':5,'d':5,'c':5,'p':3}
sorted(k.items(),key=lambda x:x[1])

[('p', 3), ('b', 5), ('d', 5), ('c', 5), ('a', 6)]

In [ ]:
# 다른사람 풀이

def solution(table, languages, preference):
    score = {}
    for t in table:
        for lang, pref in zip(languages, preference):
            if lang in t.split():
                score[t.split()[0]] = score.get(t.split()[0], 0) +  (6 - t.split().index(lang)) * pref
    return sorted(score.items(), key = lambda item: [-item[1], item[0]])[0][0]